* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color:aliceblue;
  opacity:0.8;
  height:60px;
  margin: 0;  
}

ul {
  text-align: right;
  padding-top: 20px;
  padding-right:25px;
}

li{
  display:inline;
  margin-left:10px;
}

a{
  color:black;
}

img{
  width:100%;
}

main .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div p{
  font-size: 100px;
  color: white;
  font-family: "Monotype Corsiva";
  text-align: center;
}

aside{
  float: right;
  width: 300px;
  padding: 20px;
  background-color: lightgray;
}

aside a{
  color:#007bff; 
}